.detail-appear {
    transform: translateX(100%);
    &.detail-appear-active {
        transform: translateX(0%);
        transition: all 400ms ease-out;
    }
}

.detail-enter {
    transform: translateX(100%);
    &.detail-enter-active {
        transform: translateX(0%);
        transition: all 400ms ease-out;
    }
}
.detail-exit {
    max-width: 100%;
    &.detail-exit-active {
        max-width: 0%;
        padding-left: 0;
        padding-right: 0;
        transition: all 400ms ease-out;
    }
}
