.memo {
    position: relative;
    display: flex;
    height: 100vh;
    overflow-y: auto;
    @media screen and (max-width: 576px) {
        display: block;
    }

    .memo_list {
        width: 100%;
        padding: 2em 1.5em;
        box-sizing: border-box;
    }
    
    .memo_detail {
        width: 100%;
        background-color: #f3f5fa;
        padding: 2em 1.5em;
        box-sizing: border-box;
        @media screen and (max-width: 576px) {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
        }
    }
}

