.memo {
    display: flex;
    overflow: hidden;

    .memo_list {
        width: 100%;
        padding: 2em 1.5em;
        box-sizing: border-box;
    }
    
    .memo_detail {
        width: 100%;
        height: 100vh;
        background-color: #f3f5fa;
        padding: 2em 1.5em;
        box-sizing: border-box;
    }
}

